<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->

<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<div layout:fragment="content" class="text-center">
    <img th:src="@{/images/employee.webp}" width="100%">
<!--    <div class="navigation">-->
<!--        <nav class="navbar navbar-light bg-light">-->
<!--            <form class="container-fluid justify-content-start">-->
<!--                <a class="btn btn-outline-danger me-3" th:href="'/'" th:text="'Home'"/>-->
<!--                <a class="btn btn-outline-success me-3" th:href="'/employee'" th:text="'Employee List'"/>-->
<!--                <a class="btn btn-outline-info me-3" th:href="'/logout'" th:text="'logout'"/>-->
<!--            </form>-->
<!--        </nav>-->
<!--    </div>-->
<!--    <div layout:fragment="content">-->

<!--    </div>-->
</div>
</body>
</html>